.page-container {
    padding-bottom: 50px;
}

.main {
    display:flex;
    justify-content: space-between;
}

.side-bar {
    flex-shrink: 0;
    width: 300px;
}

.side-bar ul {
    list-style: none;
    padding: 0;
}

.side-bar ul li {
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content h2 {
    flex: 0 0 100%;
}

#colors {
    display: flex;
    flex-wrap: wrap;
}

#colors .color {
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    flex: 1 1 300px;
}

#colors .color .swatch {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

#colors .color .text {
    font-size: 12px;
    font-weight: bold;
    align-self: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#forms .form-cont {
    width: 50%;
}

#forms .form-cont .form-group.error .error-message {
    padding-left: 160px;
    margin-top: 5px;
}

#buttons .buttons {
    width: 45%;
    display: inline-block;
}

#buttons .button {
    margin-bottom: 30px;
}
#buttons .button .desc {
    margin-top: 10px;
    vertical-align: middle;
}

#icons .icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#icons .icons .vista-icon {
    flex: 1 1 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#icons .icons .vista-icon div {
    margin-top: 10px;
}


