.wishlist_product {
    padding: 0 30px;
    width: 100%;
    float: left;
}

.wishlist-addToCartForm,
.wishlist_product_remove {
    padding: 0 !important;
}

.wishlist_heading {
    padding: 0 30px;
}

.wishlist_product_actions {
    .btn {
        max-width: 300px;
        min-width: 300px;
    }
}

.wishlist_bulkadd_btn {
    margin-top: 30px;

    span {
        max-width: 300px;
        min-width: 300px;
    }
}

.wishlist_product_remove {
    float: left;
    margin: 30px 0;
}