//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************


@brand-primary: 	#1976d2;
@brand-secondary: 	#1d568e;
@brand-dark:        #000000;
@brand-light:       #f4f4f4;
@brand-white:       #ffffff;

@success-color:     #056808;
@info-color:        #31708f;
@warning-color:     #ffe353;
@danger-color:      #92110f; 

@gray-base:         #000000;
@gray-darkest:      #3d3d3d;
@gray-darker:       #565656;
@gray-dark:         #818181;
@gray-medium:       #9b9b9b;
@gray:              #ababab;
@gray-light:        #d0d0d0;
@gray-lighter:      #e1e1e1;
@gray-lightest:     #f4f4f4;
@grayblue: 			#F2F4F7;



//*********Typography Colors*********
@text-color:			@brand-dark;
@text-color-secondary:	#4a4a4a;
@link-color: 			@brand-dark;
@link-hover-color:      @brand-primary;
@headline-color:		@text-color;

//== Borders
@border-color: 			#d9d9d9;
@border-color-2:		#e5e5e5;
@border-color-3:		#cccccc;


//*********form colors*********
@label-color: 			@brand-secondary;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	@brand-secondary;
//** Border color for inputs on focus
@input-border-focus:    #5b91bf;
//** Border color for inputs on error
@input-error:    #c22121;
//** Background color for inputs on error
@input-error-bg:        @brand-white;
//** color for error text
@input-error-text:        #c22121;
@input-border: @gray-lighter;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;

@state-success-text: @input-success-text;

@hint-color: #92110f;
@label-color: @brand-dark;

//*********form sizing*********
@form-group-margin-bottom: 40px;
@input-height-base: 50px;


//*********Header Background*********
@header-background-color: 	#f4f4f4;
@nav-border-color: 			@border-color;


//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @brand-primary;
@meta-nav-color-open: @brand-white;
@meta-nav-hover-color: @brand-secondary;
@meta-nav-border-color: #265272;
@meta-nav-background: #003459;
@meta-nav-hover-background: #004678;


//*********Search*********
@searchbar-icon-color: @text-color;
@check-box-bg: @brand-white;

//********* icon navigation colors*********
@nav-icon-color: @brand-primary;
@nav-icon-color-secondary: @btn-primary-bg;
@nav-icon-hover-background: @border-color-2;


//*********Header Navigation-Categories Background*********
@nav-cat-background: #142939;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: #1e3d55;
@nav-cat-link-color: @brand-white;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: rgba(0,0,0,0.7);
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @border-color-2;
@nav-subcat-hover-background: @border-color-2;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @brand-primary;
@offcanvas-nav-header-background: @brand-white;
@offcanvas-nav-disabled: @brand-secondary;
@offcanvas-meta-nav-color: @brand-white;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: #03426f;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @brand-primary;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background: @brand-white;
@offcanvas-nav-cat-border-color: @border-color-2;
@offcanvas-nav-cat-hover-background: @border-color-2;


//*********Breadcrumbs Colors*********
@breadcrumb-bg: @brand-white;


//*********Footer colors*********
@footer-background: @nav-cat-background;
@footer-text-color: @brand-white;
@footer-border-color: @nav-cat-hover-background;
@copyright-background: @brand-white;
@copyright-color: @text-color;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-primary, 60%);//#e6f0fa;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00A651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @brand-secondary;



//== Tables
@table-2n-line-bg:				@brand-white;
@table-head-bg:					@brand-white;
@table-head-color:				@brand-dark;
@table-head-border-color:		@brand-primary;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:				@table-expand-bg;


//== List
@list-active-bg:                #e6f0fb;


//== Pagination
@pagination-active-color: 		#a6a6a6;
@pagination-font-weight: 		600;

@pagination-disabled-color:     @pagination-active-color;
@pagination-hover-color:		@pagination-active-color;

@pagination-prev-next-hover-bg:		@btn-primary-bg;
@pagination-prev-next-hover-color:	@btn-primary-color;


//*********Button*********

//Primary Button State
@btn-primary-color: @brand-white;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;
@btn-primary-hover-color: @brand-white;
@btn-primary-hover-border: @brand-secondary;
@btn-primary-hover-background: @brand-secondary;
@btn-primary-disabled-bg: @brand-primary;

//Secondary Button State
@btn-default-color: @brand-primary;
@btn-default-bg: @brand-white;
@btn-default-border: @brand-primary;
@btn-default-hover-color: @brand-white;
@btn-default-hover-border: @brand-primary;
@btn-default-hover-background: @brand-primary;
@btn-default-disabled-color: @brand-white;
@btn-default-disabled-bg: @brand-primary;

@btn-focus-border: #c8c8c8;

@btn-border-radius: 4px;
@btn-font-weight: bold;


//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Modal Colors*********
@modal-close-btn-color: #5a6872;

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;

//*********checkout*********
@steps-color: @text-color;
@steps-background: @header-background-color;
@steps-color-active: @steps-color;
@steps-background-active: #e4e4e4;
@steps-border-active: @border-color-3;
@checkout-icon: @border-color-3;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: @brand-white;
@checkout-list-head-border: @table-head-bg;


//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;


//*********Typography*********
@font-size-h1: 42px;
@font-size-h2: 32px;
@font-size-h3: 24px;
@font-size-h4: 18px;
@font-size-h5: 16px;
@font-size-h6: 14px;

@font-size-h1-mobile: 32px;
@font-size-h2-mobile: 24px;
@font-size-h3-mobile: 22px;

@link-hover-decoration: underline;

//*********Messaging*********
@alert-success-bg: #dff0d8;
@alert-success-border: #d0e9c6;
@alert-success-text: #3c763d;
@alert-success-text-bold: #2b542c;

@alert-info-bg: #d9edf7;
@alert-info-border: #bcdff1;
@alert-info-text: #31708f;
@alert-info-text-bold: #245269;

@alert-warning-bg: #fcf8e3;
@alert-warning-border: #faf2cc;
@alert-warning-text: #8a6d3b;
@alert-warning-text-bold: #66512c;

@alert-danger-bg: #f2dede;
@alert-danger-border: #ebcccc;
@alert-danger-text: #a94442;
@alert-danger-text-bold: #843534;

//*********Pagination*********
@pagination-border: @gray-lighter;
@pagination-color: @brand-primary;
@pagination-active-color: @brand-primary;