<?xml version="1.0" encoding="utf-8"?>

<?page title="Login" ?>

<!--
  ~ [y] hybris Platform
  ~
  ~ Copyright (c) 2000-2016 SAP SE or an SAP affiliate company.
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of SAP
  ~ ("Confidential Information"). You shall not disclose such Confidential
  ~ Information and shall use it only in accordance with the terms of the
  ~ license agreement you entered into with SAP.
  -->

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<div visible="false" use="de.hybris.platform.cockpit.components.CustomCsaIncludeHelper"/>

	<window border="none" use="de.hybris.platform.cockpit.components.login.LoginWindow" shadow="false">
		<style src="/cockpit/css/cockpit.css" />
		<style src="/lyonscgcockpits/css/lyonscgcockpits.css" />
 	</window>

</zk>