.alert {
    font-size: 16px;
    border-radius: 4px;

    a,
    em {
        font-weight: bold;
        font-style: normal;
    }

    .color {
        color: #555759;
    }
}

.alert-success {
    a,
    em {
        color: @alert-success-text-bold;
    }
}

.alert-info {
    a,
    em {
        color: @alert-info-text-bold;
    }
}

.alert-warning {
    a,
    em {
        color: @alert-warning-text-bold;
    }
}

.alert-danger {
    a, 
    em {
        color: @alert-danger-text-bold;
    }
}