.breadcrumb-section {
    .breadcrumb {
        font-weight: bold;
        text-transform: none;

        a {
            text-decoration: none;
            color: @brand-primary;

            &:hover {
                color: @brand-dark;
            }
        }

        li {
            + li {
                &:before {
                    color: @brand-primary;
                }
            }
        }
    }
}