#cboxLoadedContent {
    margin-top: 105px;
}

#cboxContent {
    border-top: 4px solid @brand-primary;
    
    .headline {
        font-size: 32px;
        line-height: 38px;
        font-weight: normal;
        letter-spacing: .5px;
    }
}

#cboxClose {
    font-size: 14px;
}