.item__list {
    .item__list--header {
        border-bottom: 2px solid @brand-primary;

        li {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 15px;
            padding: 10px;
        }
    }
}
