.pagination {
    > li {
        > a,
        > span {
            width: 30px;
        }

        &.pagination-prev,
		&.pagination-next {
            > span,
            > a {
                font-size: 13px;
                font-weight: normal;
                width: 45px;
                margin: 0;
            }
        }
    }

    .active {
        > span {
            position: relative;
            font-weight: bold;

            &:after {
                content: ' ';
                display: inline-block;
                position: absolute;
                width: 22px;
                height: 2px;
                top: 35px;
                transform: translateX(-15px);
                background-color: @brand-primary;
            }
        }
    }
}

.sort-refine-bar  {
    .form-group {
        width: auto !important;
    }
}