table {
    tr {
        border-bottom: 1px solid @border-color-2;
    }

    th {
        font-size: 15px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.responsive-table-head {
    border-bottom: 2px solid @brand-primary;
}