.tabs {
    .tabs-list {
        li {
            a {
                padding: 0 0 10px 0;
                text-transform: none;
                text-decoration: none;
                font-weight: bold;
                border-bottom-width: 2px;
            }

            &.active {
                a {
                    color: @brand-primary;
                    border-bottom-width: 2px;

                    &:hover {
                        border-bottom-width: 2px;
                    }
                }
            }
        }
    }
}