.well {
    &.well-tertiary {
        .item-group {
            margin-bottom: 10px;
        }

        .item-label {
            font-weight: bold;
        }

        .item-value {
            color: @brand-dark;
            margin-bottom: 5px;
            font-weight: 300;
            font-size: 16px;

            a {
                color: @brand-dark;
            }
        }
    }
}