<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<spring:htmlEscape defaultHtmlEscape="true" />

<spring:url value="/my-account/manage-wishlists/addWishlistToCart" var="wishlistAddToCartUrl" htmlEscape="false"/>
<spring:theme code="text.quickOrder.product.quantity.max" var="maxProductQtyMsg"/>
<spring:theme code="text.quickOrder.form.product.exists" var="productExistsInFormMsg"/>

<div class="js-quick-order-container" data-quick-order-min-rows="1"
	 data-quick-order-max-rows="${quickOrderMaxRows}" data-quick-order-add-to-cart-url="${wishlistAddToCartUrl}"
	 data-product-exists-in-form-msg="${productExistsInFormMsg}">

	<ul class="item-list cart__list quick-order__list js-ul-container">
		<li class="hidden-xs hidden-sm">
			<ul class="item-list-header">
				<li class="item-sku-input"><spring:theme code="text.quickOrder.page.product"/></li>
				<li class="item-image"></li>
				<li class="item-info"></li>
				<li class="item-price"><spring:theme code="text.quickOrder.page.price"/></li>
				<li class="item-quantity"><spring:theme code="text.quickOrder.page.qty"/></li>
				<li class="item-total-column"><spring:theme code="text.quickOrder.page.total"/></li>
				<li class="item-remove"></li>
			</ul>
		</li>
		
		<c:forEach items="${wishlistData.wishlistEntries}" var="wishlistEntryData">
			<spring:url value="/my-account/manage-wishlists/removeEntry" var="removeEntryUrl" htmlEscape="false">
				<spring:param name="code" value="${wishlistData.code}"/>
				<spring:param name="productCode" value="${wishlistEntryData.product.code}"/>
			</spring:url>
		
			<li class="item-list-item js-li-container">
				<div class="item-sku-input js-sku-container">
					<input type="text" class="js-sku-input-field form-control" value="${wishlistEntryData.product.code}" readonly />
					<input type="hidden" class="js-hidden-sku-field" value="${wishlistEntryData.product.code}"/>
					<input type="text" class="js-quick-order-qty form-control" value="${wishlistEntryData.desired}" readonly />
				</div>
				<!-- <div class="item-remove">
				<form:form action="${removeEntryUrl}" class="url-holder" method="POST">
				<button type="submit" class="confirm btn btn-block btn-primary">
				<span class="glyphicon glyphicon-remove"></span>
				</button>
				</form:form>
				<button class="btn js-remove-quick-order-row" tabindex="-1">
				<span class="glyphicon glyphicon-remove"></span>
				</button>
				</div> -->
			</li>
		</c:forEach>

	</ul>
</div>
<script id="quickOrderRowTemplate" type="text/x-jquery-tmpl">

	<div class="item-image js-product-info">
		<a href="${request.contextPath}{{= url}}" tabindex="-1">
			{{if images != null && images.length > 0}}
				<img src="{{= images[0].url}}"/>
			{{else}}
				<theme:image code="img.missingProductImage.responsive.thumbnail"/>
			{{/if}}

		</a>
	</div>
	<div class="item-info js-product-info">
		<a href="${request.contextPath}{{= url}}" tabindex="-1">
			<span class="item-name">{{= name}}</span>
		</a>

	   <div class="item-stock">
			<div>
				{{if stock.stockLevelStatus.code && stock.stockLevelStatus.code != 'outOfStock'}}
					<span class="stock">
						<spring:theme code="product.variants.in.stock"/>
					</span>
				{{else}}
					<span class="out-of-stock">
						<spring:theme code="product.variants.out.of.stock"/>
					</span>
				{{/if}}
			</div>
		</div>
	</div>

	<div class="item-price js-product-price js-product-info" data-product-price="{{= price.value}}">
		<span class="visible-xs visible-sm">
			<spring:theme code="basket.page.itemPrice"/>:
		</span>
		{{= price.formattedValue}}
	</div>

	<div class="item-quantity js-product-info">
		<input type="text" class="js-quick-order-qty form-control" value="1" maxlength="3" size="1"
			data-max-product-qty="{{= stock.stockLevel}}" data-stock-level-status="{{= stock.stockLevelStatus.code}}"/>
		<div class="js-product-info js-qty-validation-container help-block quick-order__help-block" data-max-product-qty-msg="${maxProductQtyMsg}"></div>
	</div>


	<div class="item-total js-product-info js-quick-order-item-total">
		{{if stock.stockLevelStatus.code && stock.stockLevelStatus.code != 'outOfStock'}}
			{{= price.formattedValue}}
		{{/if}}
	</div>
</script>