.bundleInfo {
	margin: 0 20px;

	.bundleDetails {
		display: flex;
		justify-content: flex-start;
		max-width: 960px;

		.bundleDescription {
			flex-grow: 1;
		}

		.bundlePricing {
			width: 380px;
			margin-left: 40px;

			.bundlePrice {
				font-size: 28px;
				font-weight: bold;
			}

			.originalPrice {
				font-size: 16px;
				text-decoration: line-through;
			}
		}
	}
}

.bundle {
	margin: 0;

	h2 {
		font-size: 22px;
	}

	.error {
		color: @input-error;
	    border: 2px solid @input-error;
	    padding: 5px;
	    font-size: 14px;
	    background-color: rgba(197,49,49, 0.1);
	    margin-bottom: 20px;
	}


	.products {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		.product {
			cursor: pointer;
			max-width: 260px;
			margin-right: 20px;
			padding: 20px;
			border: 4px solid transparent;

			&.selected {
				border-color: rgba(243, 109, 56, 0.8); 
			}

			.image {
				min-height: 260px;

				img {
					width: 100%;
					height: auto;
					min-height: none;
					max-height: none;
				}
			}

			.info {
				.name {
					a {
						color: #19212b;
						cursor: pointer;
						font-size: 16px;

						&:hover {
							text-decoration: underline;
							color: @brand-primary;
						}
					}

					.sku {
						color: #929292;
					}
				}

				.price {
					font-size: 22px;
					font-weight: 700;
				}
			}
		}
	}

}

.bundleAddToCart {
	margin: 20px;
}

.bundleEntry {
	&_details {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&_name {
		font-size: 18px;
		font-weight: 700;
		margin-left: 30px;
		margin-top: 10px;
		margin-right: 45px;
	}

	&_remove {
		margin-right: 25px;
		margin-top: 10px;
	}

	&_products {
		border-bottom: 1px solid #e5e5e5;
		list-style: none;
		margin: 0;
		padding: 0;

		.item-list-item {
			border-bottom: none;
		}
	}
}

// @media screen and (max-width: 639px) {

// }

// @media screen and (max-width: 1023px) {

// }


@media screen and (min-width: 1024px) {
	.bundleAddToCart {
		width: 400px;
		margin: 20px auto;
	}
}