

/* Registration page */

#stateEnabledRegistrationForm,
#registerForm {
	textarea {
		resize: vertical;
	}
}

@media screen and (max-width: 639px) {
	.sm-navigation > .container .row > div.site-search.active {
		margin-top: 33px;
		padding-top: 10px;
	}

	.main-footer {
		.links {
			margin-bottom: 25px;

			&:nth-child(3){
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.sm-navigation > .container .row > div.site-search {
		margin-top: 10px;
	}
}

.pagination {
	> .active {
		> span {
			color: @brand-primary;

			&:hover {
				color: @brand-primary;
			}
		}
	}

	> li {
		> a,
		> span {
			&:hover {
				color: @brand-primary;
			}
		}
	}

	.pagination-next,
	.pagination-prev {
		&:hover {
			a:before {
				color: @brand-primary;
			}
		}
	}
}

/* Footer */
.main-footer {
	padding: 25px 0;

	.copyright {
		color: @brand-tertiary;
		background: @brand-primary;
	}

	.links {
		.title {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
}

/* Checkout */

.checkout-order-summary {
	.totals {
		color: @brand-primary;
	}
}

.checkout-steps {
	.step-head:not(.active) {
		&:hover {
			color: @brand-primary;
			border-color: @brand-primary;

			.edit {
				color: @brand-primary;
			}
		}
	}
}

/* To fix assistedserviceaddon.css override */

@media (min-width: 640px) and (max-width: 767px) {
	.hidden-xs:not(.hidden-sm) {
		display: inherit !important;
	}

	.account-section {
		.responsive-table-head {
			&.hidden-xs {
				display: table-row !important;
			}
		}
	}
}

#cboxTitle {
	.headline {
		margin-top: 10px;
	}
}

#cboxClose {
	&:hover {
		color: @brand-primary;
	}
}


/* Product Details h1 tag */

.product-details {
	.name {
		h1 {
			display: inline;
			font-size: inherit;
		}
	}
}

/* Product Details translations btn sizing */

@media screen and (max-width: 767px) {
	.addtocart-component .actions .btn {
		font-size: 14px;
	}
}

/* Product Grid Add to Cart Container */
.ProductGridComponent-ListAddToCartAction {
	width: 100%;
}

/* Product Details description layout fix */

.product-details {
	.description {
		min-width: 100px;
	}
}

/* My company / Account style changes */

.accountSummaryUnitBackBtn {
	width: auto;
}

.accountActions-container {
	clear: both;
}

.account-section {
	a:not(.button),
	a:not(.btn) {
		&:hover {
			color: @brand-primary;
			text-decoration: underline;
		}

		&.back_button,
		&.cancel {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.pagination {
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.accountActions-bottom {
		width: auto;
	}

	.well {
		.item-value {
			a {
				&:hover {
					color: @brand-tertiary;
				}
			}
		}
	}
}

@media(max-width: 990px) {
	.account-section {
		.accountActions-bottom {
			width: 100%;
		}
	}
}

#popup_suggested_delivery_addresses {

	.suggested_address_container {
		margin-bottom: 40px;
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

/* Category page h1 */

.product-grid-right-result-component {
	h1 {
		margin-left: 20px;
	}
}

/* Footer overrides */

.footer__nav--container {
	.title {
		font-weight: bold;
	}
}

.footer__nav--links {
	.footer__link  {
		a {
			&:hover {
				color: #f36d38;
			}
		}
	}
}

/* Future Stock link hover */

.futureStockLink {
	&:hover {
		color: #da673a;
	}
}

/* Sign in, Sign Out links */

.navigation--top .nav__right .nav__links--account .myAccountLinksHeader, .navigation--top .nav__right .nav__links--account .myCompanyLinksHeader {
	background-color: #f8f8f8;
	color: #f36d38;
}

.account-orderdetail {
	.order-detail-overview,
	.account-orderdetail-item-section-footer {
		margin: 0 30px;
	}
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Export and Save Cart */
.save__cart--link, .export__cart--link {
	width: auto;
}

/** no results in store finder */
.empty__results {
	padding: 10px;
	font-weight: bold;
}

/* My Account Btn fix */
.account-section {
	.account-section-content {
		.well {
			.btn-primary {
				border-color: #fff;

				&:hover {
					background-color: #fff;
					color: #f36d38;
				}
			}
		}
	}
}

.account-section {
	.account-section-content {
		.disable-link {
			button, a {
				border-width: 2px;
				border-style: solid;
		    padding: 10px 15px;

				&:hover {
					text-decoration: none;
					background-color: #ed1c24;
					color: #fff;
					border-color: #ed1c24;
				}
			}
		}
	}
}


.customer-ticketing {
	.sort-refine-bar {
		.form-group {
			select {
				width: 150px;
			}
		}
	}
}

/* HLP2-375: Missing Connect With Us in footer */

.footer__nav--container.socialLinks {
	width:auto;
	height:100%;
}

@media (max-width: 640px) {
	.footer__nav--container.socialLinks {
		width:100%;
		text-align:center;
		height:auto;
	}
}

.notFound {
	margin: 20px;

	ul {
		li {
			margin: 0 0 5px;
		}
	}
}

.volumePricesFlag {
	display: inline;
}

.forgotten-password {
	margin: 20px;

	.btn {
		&.btn-block {
			display: inline-block;
			width: auto;
		}
	}
}



@media(min-width: 640px) {
	.store__finder_detailsPage {
		.store__finder--details {
			float: none;
			margin: 20px 0;
			width: 100%;
			max-width: 900px;
		}
	}
}


@media (max-width: 639px) {
	.store__finder_detailsPage .store__finder--panel .store__finder--details {
		display: block;
	}

	.store__finder_detailsPage .store__finder--details .store__finder--details-openings dl dd {
		margin: 0;
	}
}

.searchBox{

margin-bottom: 30px;

}