.addToList {
	margin: 15px 0;

	a.btn-default {
		background-color: black;
		border-color: black;

		&:hover {
			background-color: @brand-primary;
			border-color: @brand-primary;
		}
	}
}

.wishlist {
	&_heading {
		font-size: 18px;
		margin: 40px;
		text-transform: uppercase;
	}

	&_popup_msg {
		color: rgb(37, 146, 47);
		border: 1px solid rgb(37, 146, 47);
		background-color: rgba(37, 146, 47, 0.1);
		padding: 5px;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 10px;

		&.error {
			color: @input-error;
			border-color: @input-error;
			background-color: rgba(197,49,49, 0.1);
		}
	}

	&_products {
		margin: 0 40px 40px;
	}

	&_product {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #CFCFCF;

		&_img {
			flex: 0 120px;
			margin-right: 20px;
		}

		&_info {
			flex: 0.5 400px;
			margin-right: 20px;
		}

		&_name {
			display: block;
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 5px;
		}

		&_code {
			display: block;
			font-weight: 700;

			.product_id {
				color: #929292;
				font-weight: 400;
			}
		}

		&_price {
			flex: 0 300px;
			margin-right: 20px;
		}

		&_actions {
			flex: 0 275px;

			form.wishlist-addToCartForm {
				margin: 0;
				padding: 0;
			}

			form.wishlist_product_remove {
				margin: 0;
				padding: 0;
			}
		}

		&_addToCart {
			margin-bottom: 10px;
		}
	}

	&_bulkadd {
		&_btn {
			margin-bottom: 10px;
		}
	}
}

.account-section .account-section-content .disable-link a {
	display: inline-block;
}

@media screen and (max-width: 750px) {

	.wishlist {
		&_product {
			flex-wrap: wrap;

			&_img {
				flex: 0 auto
			}

			&_price {
				margin-top: 10px;
			}
			
			&_price,
			&_actions {
				flex: 0 100%;
				margin-bottom: 10px;
			}
		}
	}

}