.cButtons {
	margin-top: 20px;
}

.cButtons > a {
	display: block;
	margin-top: 20px;
}

@media (max-width: 710px) {
	.cart-container.pull-right {
		float: none !important;
	}

	.ppButton {
		margin-bottom: 20px;
	}
}