.myAccountLinksHeader,
.myCompanyLinksHeader {
    padding: 20px;
    color: @brand-primary;
    border-left: 1px solid @border-color;

    &:hover {
        cursor: pointer;
        background-color: @border-color;
    }
}

.nav--my-account {
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: @meta-nav-color-open;
    border: 1px solid @border-color;

    +.nav--my-account {
        right: 295px;
    }
}

.nav--my-account__links {
    padding: 0;
}

.nav--my-account__list-item {
    float: none !important;
    width: 100%;
    border-bottom: 1px solid @border-color-2;

    &:hover {
        background-color: @border-color-2;
    }

    &:last-child {
        border-bottom: none;
    }

    a {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        color: @text-color;
        padding: 20px 30px;
    }
}