@white: #ffffff;
@light-grey: #f1f1f1;
@border-color: #f4f4f4;
@black: #000000;
@blue: #1976d2;
@light-blue: #b4d2e8;
@tray-background: rgba(35, 31, 32, .85);

.product-compare-tray {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 18px 0;
    background: @tray-background;
    z-index: 2;
}

.product-compare-grid {
    display: flex;
    overflow-x: auto;
}

.product-compare-grid--bottom {
    border-left: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
}

.product-compare-tray__product {
    position: relative;
    background: @light-grey;
    width: 22%;
    padding: 10px;
    margin: 17px 1.5% 0;
    min-width: 256px;
}

.product-compare-tray__product-image {
    float: left;
    padding-right: 10px;
}

.product-compare-tray__product-remove {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 22px;
    height: 22px;
    color: @white;
    background: @black;
    border: 0;
    border-radius: 50%;
}

.product-compare-tray__heading {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.5px;
    color: @white;
    margin: 0;
    padding-top: 6px;
}

.product-compare-tray__buttons {
    text-align: right;
}

.product-compare-tray__compare {
    width: 215px;
    height: 45px;
    border-radius: 4px;
    border: 0;
    background-color: @blue;
    color: @white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-compare-tray__clear {
    border: 0;
    background: 0;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: @white;
}

.product-compare-overlay {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    background: @white;;
    padding: 20px 0 50px;
    z-index: 9999;
    overflow-x: auto;
    min-height: 100vh;
    border-top: 4px solid @brand-primary;
}

.product-compare-overlay__background {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @black;
    opacity: 0.7;
}

.product-compare-overlay__close {
    float: right;
    border: 0;
    background: 0;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: @black;
}

.product-compare-overlay__grid {
    display: flex;
}

.product-compare-overlay__product {
    position: relative;
    padding: 32px 25px 50px 25px;
    width: 25%;
    border-left: 1px solid @border-color;

    &:first-child {
        border-left: 0;
    }
}

.product-compare-overlay__product-feature-value {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    text-align: center;
    color: @black;
    padding: 14px;
    border-right: 1px solid @border-color;
}

.product-compare-overlay__add-to-cart {
    max-width: 215px;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 0;
    background: @blue;
    color: @white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-compare-overlay__add-to-cart--out-of-stock {
    background: @light-blue;
}

.product-compare-overlay__product-remove {
    position: absolute;
    top: 0;
    right: 20px;
    width: 22px;
    height: 22px;
    color: @white;
    background: @black;
    border: 0;
    border-radius: 50%;
}

.product-compare-overlay__product-image {
    max-width: 100%;
}

.product-compare-overlay__product-info {
    margin-bottom: 10px;
    
    dt {
        float: left;
    }

    dd {
        text-align: right;
    }
}

@media screen and (max-width: 1024px) {
    .product-compare-tray__compare--mobile {
        margin-top: 17px;
        width: 100%;
    }

    .product-compare-overlay__grid {
        display: block;
    }

    .product-compare-overlay__product {
        width: 100px;
        border-left: 0;
        border-bottom: 1px solid @border-color;
        margin-bottom: 20px;
    }
}