.btn:not(.btn-icon):not(.js-qty-selector-minus):not(.js-qty-selector-plus) {
    text-decoration: none;
    border-radius: @btn-border-radius !important;
    border-width: 2px;
    letter-spacing: 1px;

    &:focus {
        border-color: @btn-focus-border;
    }
}

.btn-default {
    &:disabled,
    &.disabled {
        color: @btn-default-disabled-color;

        &:hover {
            color: @btn-default-disabled-color;
        }
    }
}

.btn-default:not(.btn-icon):not(.js-qty-selector-minus):not(.js-qty-selector-plus),
.btn-primary {
    padding: 12px 15px;

    &.btn-small {
        padding: 7px 15px;
    }
}

.btn-icon {
    padding: 11px 15px 11px 83px;

    &:after {
        height: 50px;
        top: -3px;
    }
}

.back_button {
    text-decoration: none;
}

@media screen and (max-width: @screen-lg) {
    .btn-icon {
        width: 100%;
        padding: 11px 15px;

        &:before,
        &:after {
            display: none;
        }
    }
}

