label {
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.radiobuttons_paymentselection,
.form-group {
    position: relative;
}

.form-control {
    padding: 15px 16px;
    letter-spacing: .25px;
    box-shadow: none;
}

.help-block {
    font-style: normal;
}

.has-error {
    .form-control-validation(@input-error, @input-error, @input-error-bg, @input-error-text);
    
    .form-control {
        box-shadow: none;
    }
}

.has-success {
    .form-control-validation(@input-success-text, @input-success-text, @input-success-bg, @input-success-text);

    .form-control {
        box-shadow: none;

        &:focus {
            box-shadow: none;
            border-color: @input-success-text;
        }
    }
}

input[type="checkbox"] {
    margin: 0;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background-image: url('../../common/images/checkbox-unselected.svg');
    -webkit-appearance: none;

    &:checked {
        background-image: url('../../common/images/checkbox-selected.svg');
    }
}

input[type="radio"] {
    position: absolute;
    left: -9999px;

    + label {
        padding-left: 25px;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #979797;
            border-radius: 50%;
        }
    }

    &:checked {

        + label {
            &:before {
                border: 4px solid@brand-dark;
            }
        }
    }
}

select {
    &.form-control {
        background-image: url('../../common/images/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 98% center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 16px;
        letter-spacing: .25px;
        padding: 0 24px 0 16px;
    }

    &::-ms-expand {
        display: none; // For IE
   }

   &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid @brand-dark;
        clear: both;
   }

}