body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1; 
    letter-spacing: .25px;
}

h1,
.h1 {
    line-height: 1.2;
    letter-spacing: .5px;
}

h2,
.h2 {
    line-height: 1.2;
    letter-spacing: .5px;
}

h3,
.h3 {
    line-height: 1.2;
    letter-spacing: .5px;
}

h4,
.h4 {
    line-height: 1.2;
    letter-spacing: .5px;
}

h5,
.h5 {
    line-height: 1.2;
    letter-spacing: .5px;
}

h6,
.h6 {
    line-height: 1.1;
    letter-spacing: .5px;
    font-weight: bold;
}

a {
    text-decoration: underline;

    &.btn,
    > button {
        text-decoration: none;
    }
}

@media (max-width: @screen-sm) {
    h1,
    .h1 {
        font-size: @font-size-h1-mobile;
    }

    h2,
    .h2 {
        font-size: @font-size-h2-mobile;
    }

    h3,
    .h3 {
        font-size: @font-size-h3-mobile;
    }
}