<%@ tag trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="wp-multi-checkout" tagdir="/WEB-INF/tags/addons/worldpayaddon/responsive/checkout/multi" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<%@ taglib prefix="formElement" tagdir="/WEB-INF/tags/responsive/formElement" %>

<div id="cardDetailsFieldSet">
    <fieldset class="cardForm">
        <wp-multi-checkout:cseInputBox idKey="nameOnCard" formPath="nameOnCard" mandatory="true" labelKey="payment.nameOnCard"/>
        <wp-multi-checkout:cseInputBox idKey="number" mandatory="true" labelKey="payment.cardNumber"/>

        <div class="form-group">
            <label class="control-label"><spring:theme code="payment.expiryDate"/></label>

            <div class="row">
                <div class="col-xs-6">
                    <wp-multi-checkout:cseSelectBox idKey="exp-month" formPath="expiryMonth" skipBlank="false" skipBlankMessageKey="payment.month" items="${months}"/>
                </div>
                <div class="col-xs-6">
                    <wp-multi-checkout:cseSelectBox idKey="exp-year" formPath="expiryYear" skipBlank="false" skipBlankMessageKey="payment.year" items="${expiryYears}"/>
                </div>
            </div>
            <div class="help-block hidden">
                <span id="error-exp-date"></span>
            </div>
        </div>

        <div class="row">
	        <div class="col-xs-6">
	            <wp-multi-checkout:cseInputBox idKey="cvc" formPath="cvc" mandatory="false" labelKey="payment.cvn"/>
	        </div>
        </div>
        <input type="hidden" id="encryptedData" name="cseToken">
        <input type="hidden" id="cardType" name="cardType">
        <sec:authorize ifNotGranted="ROLE_ANONYMOUS">
	        <div class="form-group">
		            <formElement:formCheckbox idKey="SaveDetails" labelKey="checkout.multi.sop.savePaymentInfo" path="saveInAccount"
							                          inputCSS="" labelCSS="" mandatory="false" tabindex="10"/>
	        </div>
        </sec:authorize>
    </fieldset>
</div>