@brand-white: #ffffff;
@border-color: #d9d9d9;
@success-color:#056808;
@danger-color: #92110f; 
@info-color: #31708f;
@brand-dark: #000000;

.dashboard-orders-quotes,
.dashboard__title {
    padding: 0 30px;
}

.dashboard__entries {
    width: 100%;
}

.dashboard__entry {
    float: left;
    padding: 0 10px;
    width: 20%;
}

.dashboard__icon {
    font-size: 20px;
    color: @brand-primary;
}

.dashboard__view-all {
    float: right;
    position: relative;
    bottom: 30px;
}

.dashboard {
	width: 100%;
	background-color: @brand-white;
	padding: 0 30px;
	margin-bottom: 30px;
}

.dashboard__container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: repeat(auto-fill, 300px);
	grid-template-columns: repeat(auto-fill, 300px);
	.justify-content(space-between);
    max-width: 1560px;   
}

.dashboard__chart-container {
	width: 300px;
	border: 1px solid @border-color;
	margin: 5px;

	&.balance {
		height: 300px;
	}
}

.dashboard__budget-under {
    color: @success-color;
}

.dashboard__budget-over {
    color: @danger-color;
}

.dashboard__budget-under {
    color: @success-color;
}

.dashboard__budget-over {
    color: @danger-color;
}


.dashboard__cost-center-remaining {
	width: 100%;
	padding: 10px;
	color: @brand-dark;
	font-weight: bold;
}

.dashboard__cost-center-content {
	width: 100%;
	padding: 10px;
}

.dashboard__cost-center-title {
	width: 100%;
	background-color: @info-color;
	padding: 10px;
	color: @brand-white;
	font-weight: bold;
}

@media screen and (max-width: @screen-sm) {
    .dashboard__entry {
        width: 100%;
    }
}