.page-productGrid .pagination-wrap > .pagination {
	display: none;
}

.navbar-fixed-top {
	top: 61px;
}

.branding-mobile {
	top: 0;
}

.navbar-fixed-top ~ .main__inner-wrapper {
    padding-top: 186px;
}

.page-heading .navbar-fixed-top {
	top: 0;
}

.page-homepage .navbar-fixed-top ~ .main__inner-wrapper {
	padding-top: 100px;
}

@media screen and (min-width: 1024px) {
	.navbar-fixed-top ~ .main__inner-wrapper {
		/* padding-top: 219px; */
		padding-top: 257px;
	}

	.navbar-fixed-top {
		top: 0;
	}

	.page-homepage .navbar-fixed-top ~ .main__inner-wrapper {
		padding-top: 214px;
	}
}